@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap");

body {
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 60vw;
    margin: 0 auto;
}

h2 {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
    margin: 1em 0 0.5em;
}

h3 {
    font-weight: 200;
}

.ignored {
    color: gray;
}

div.project-header {
    margin-bottom: 10px;
    font-size: medium;
}

div.project-header > span.project-name {

}

div.project-header > span.project-version {
    padding-left: 20px;
}

div.date-test-ran {
    font-size: small;
    font-style: italic;
}

div.spec-title {
    padding: 10px 0 5px 0;
}

table.summary-table {
    background-color: #D0D1D3;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    max-height: 60%;
    overflow: auto;
    box-sizing: border-box;
}

table.summary-table th {
    color: #D5DDE5;;
    background: #1b1e24;
    border-bottom: 4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size: 14px;
    font-weight: 100;
    padding: 8px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align: middle;
}

th:first-child {
    border-top-left-radius: 3px;
}

th:last-child {
    border-top-right-radius: 3px;
    border-right: none;
}

table.summary-table td {
    text-align: left;
    padding: 8px;
    box-sizing: border-box;
}

tr.error td, td.error {
    background-color: #F89A4F !important;
}

tr.failure td, td.failure {
    color: red;
}

div.footer {
    text-align: center;
    font-size: small;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background-color: #ddd;
    color: #333;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:nth-child(odd):hover td {
    background-color: #ddd;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0;
}